/* based on Bootstrap breakpoints
xs - <768px - phones
sm - >=768px - tablets
md - >=992px - small laptops
lg - >=1200px - laptops & desktops
*/

@media (max-width: 767px){
    .sm-plus {
        display: none;
        pointer-events: none;
    }
}

@media (min-width: 768px){
    .xs-only {
        display: none;
        pointer-events: none;
    }
}